<script>
    document.addEventListener('DOMContentLoaded', () => {
        const themeToggle = document.getElementById('themeToggle');
        updateButtonText(document.documentElement.getAttribute('data-theme'));     
        themeToggle.addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';               
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
            updateButtonText(newTheme);
        });
    });

    function updateButtonText(theme) {
        const button = document.getElementById('themeToggle');
        button.textContent = theme === 'dark' ? '⚪' : '⚫';
    }
</script>