<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="template" content="bluf">
<meta name="theme-color" content="#0000cd">
<meta name="license" content="{{ .Site.Params.license }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{ $style := resources.Get "css/style.css" }}
{{ $secureCSS := $style | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $secureCSS.RelPermalink }}" integrity="{{ $secureCSS.Data.Integrity }}">

{{ if .Site.Params.enableUmami }}
<script defer src="{{ .Site.Params.UmamiLink }}" data-website-id="{{ .Site.Params.UmamiID }}"></script>
{{ end }}

<script>
    (function() {
        const savedTheme = localStorage.getItem('theme'); 
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
        } else {
            const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
            if (prefersDark) {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        }
    })();
</script>