<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ range .Site.Params.keywords }}{{ . }},{{ end }}" />
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {{ $style := resources.Get "css/style.css" }}
    {{ $secureCSS := $style | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $secureCSS.RelPermalink }}" integrity="{{ $secureCSS.Data.Integrity }}">

    {{ if .Site.Params.enableUmami }}
    <script defer src="{{ .Site.Params.UmamiLink }}" data-website-id="{{ .Site.Params.UmamiID }}"></script>
    {{ end }}


</head>

<body>

    <div class="top-bar">
        <div class="top-bar-inner">
            <div class="top-bar-title">
                <a href="{{ .Site.BaseURL }}">
                    <img class="top-bar-logo" src="/logo.webp" alt="Logo">
                </a>
                <h1 class="top-title" style="font-size: 1em;">{{ .Site.Params.pagename }}</h1>
                <noscript>{{ .Site.Params.alias }}</noscript>
            </div>

            <nav class="top-bar-nav">
                {{ range .Site.Data.navbar.categories }}
                <div class="menu-container">
                    <div class="menu-toggle" id="menu-toggle-{{ .id }}">{{ .name }}</div>
                    <div class="nav-button filter-button-group" id="filter-group-{{ .id }}">
                        {{ range .tags }}
                        <button class="filter-btn" data-filter=".{{ index $.Site.Data.tag_classes . }}">{{ . }}</button>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                {{ with .Site.Data.navbar.external_links }}
                <div class="menu-container">
                    {{ range . }}
                    <a href="{{ .url }}" target="_blank" class="menu-toggle" rel="noopener" 
                        {{ if $.Site.Params.enableUmami }}data-umami-event="NAV-{{ .name }}" {{ end }}>
                        {{ .name }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}

                {{ with .Site.Data.navbar.hot_tag }}
                <div class="hot-tags-container filter-button-group">
                    {{ range . }}
                    <button class="hot-tag filter-btn" data-filter=".{{ index $.Site.Data.tag_classes . }}">{{ . }}</button>
                    {{ end }}
                </div>
                {{ end }}
                
            </nav>
            
        </div>
    </div>

    <div class="grid" id="myGrid">
        {{/*  {{ range .Site.Data.cards }}  */}}
        {{ range $index, $element := .Site.Data.cards }}
        {{ $title := .title }}
        <article id="{{ .title }}">
            <div class="grid-item {{ range .tags }}{{ index $.Site.Data.tag_classes . }} {{ end }} 
                {{ partial "getColorCategory" .hex }}">
                {{ if reflect.IsSlice .links }}
                <a href="{{ (index .links 0).url }}" target="_blank" rel="noopener" 
                    {{ if $.Site.Params.enableUmami}}data-umami-event="CARD-{{ .title }}" {{ end }}>
                    {{ else }}
                    <a href="{{ .links | safeURL }}" target="_blank" rel="noopener" 
                        {{ if $.Site.Params.enableUmami}}data-umami-event="CARD-{{ .title }}" {{ end }}>
                        {{ end }}

                        <div class="grid-item-head">
                            {{ $extensions := slice "jpg" "jpeg" "png" "gif" "webp" }}
                            {{ range $ext := $extensions }}
                            {{ $imgPath := printf "img/%s.%s" $title $ext }}
                            {{ if (resources.Get $imgPath) }}
                            {{ $image := resources.Get $imgPath }}
                            {{ $displayWidth := 255 }}
                            {{ $ratio := div (float $image.Height) $image.Width }}
                            {{ $displayHeight := math.Round (mul $displayWidth $ratio) }}
                            <img class="grid-item-img" src="{{ $image.RelPermalink }}" width="{{ $displayWidth }}"
                                height="{{ $displayHeight }}" alt="" 
                                {{ if ge $index 5 }}loading="lazy"{{ end }} {{/*前几张卡片的图片没有懒加载*/}}
                                onload="this.classList.add('loaded')">
                            {{ break }}
                            {{ end }}
                            {{ end }}

                            <header  class="grid-item-header">
                                <h2 class="grid-item-title">{{ .title }}</h2>
                                <div class="grid-item-color-mark" 
                                    style="background:{{ if eq (substr .hex 0 1) "#" }}{{ .hex }}{{ else }}#{{ .hex }}{{ end }};">
                                </div>
                            </header>
                        </div>
                    </a>

                    <div class="grid-item-middle">
                        <div class="grid-item-tags filter-button-group">
                            {{ range .tags }}
                            <button class="filter-btn grid-item-tag"
                                data-filter=".{{ index $.Site.Data.tag_classes . }}">{{ . }}</button>
                            {{ end }}
                        </div>
                        <div class="grid-item-date" datetime="{{ .date }}">{{ .date }}</div>
                    </div>

                    {{ if reflect.IsSlice .links }}
                    <a href="{{ (index .links 0).url }}" target="_blank" rel="noopener" 
                        {{ if $.Site.Params.enableUmami}}data-umami-event="CARD-{{ .title }}" {{ end }}>
                        {{ else }}
                        <a href="{{ .links | safeURL }}" target="_blank" rel="noopener" 
                            {{ if $.Site.Params.enableUmami}}data-umami-event="CARD-{{ .title }}" {{ end }}>
                            {{ end }}
                            <section class="grid-item-description">
                                <p>{{ .description }}</p>
                            </section>
                        </a>

                        {{ if reflect.IsSlice .links }}
                        {{ if gt (len .links) 1 }}
                        <nav class="grid-item-links">
                            {{ range .links }}
                            <a href="{{ .url }}" target="_blank" rel="noopener" 
                                {{ if $.Site.Params.enableUmami}}data-umami-event="LINK-{{ $title }}-{{ .name }}" {{ end }}>
                                {{ .name }}
                            </a>
                            {{ end }}
                        </nav>
                        {{ end }}
                        {{ end }}
            </div>
        </article>
        {{ end }}
    </div>

    <button id="reset-filters">✕</button>

    <script src="/js/isotope.pkgd.min.js"></script>

    {{ $js := resources.Get "js/script.new.js" }}
    {{ $secureJS := $js | resources.Minify | resources.Fingerprint }}
    <script src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    <script>
        window.addEventListener('load', function() {
          document.getElementById('myGrid').classList.add('show');
        });
    </script>

</body>

</html>