<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head.html" . }}

    <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-inner" style="width: 80%;">
                <div class="top-bar-title">
                    <a href="{{ .Site.BaseURL }}"><img class="top-bar-logo" src="/logo.webp" alt="Logo"></a>
                    <span class="top-bar-head">{{ .Site.Params.pagename }}</span>
                </div>
            <nav class="top-bar-nav">

                <div class="menu-container">
                    <button class="theme-toggle" id="themeToggle" title="切换深浅配色">
                        深色模式
                    </button>
                </div>

                {{ with .Site.Data.navbar.external_links }}
                <div class="menu-container">
                    {{ range . }}
                    <a href="{{ .url }}" target="_blank" class="menu-toggle exlink" rel="noopener" {{ if $.Site.Params.enableUmami
                    }}data-umami-event="NAV-{{ .name }}" {{ end }}>{{ .name }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </nav>

        </div>
    </div>


    <article class="post">
        <div class="single-head">
            <h1>{{ .Title }}</h1>
            <span><p>{{ .Date.Format "2006-01-02" }} | <a href="{{ .Site.BaseURL }}">↩</a></p></span>  
        </div>
        <section>
            {{ .Content }}
        </section>

        <footer>

        </footer>
    </article>

    {{ partial "footer.html" . }}

</body>

</html>